.container {
    display: inline-block;
    background-color: white;
    text-align: left;
    width: 300px;
    height: 230px;
    border-radius: 10px;
    align-items: center;
    padding: 20px;
}

.temp{
    font-weight: bold;
}

.btn {
    float: right;
    background-color: #2A2550 ;
    color: whitesmoke;
    border-radius: 10px;
}

.interior{
    width: 30%;
}

.prueba{
    display: flex;
    justify-content: space-between;
}



.title{
    color: #251D3A;
    text-shadow: #2A2550;
}

.img{
    margin-right: 50px;
    width: 70%;
}

